@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pointer {
  cursor: pointer;
}

.videoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3b82f6;
}

.videoDiv .h1 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.videoDiv .p {
  font-size: 15px;
  color: white;
  text-align: left;
  margin: 10px 25px 20px 25px;
}

.videoDiv .h2 {
  font-size: 18px;
  color: #3b82f6;
  text-align: left;
  margin: 10px 25px 20px 10px;
}

.videoCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 1px 3px #3b82f6;
  transition: 0.3s;
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-color: #3b82f6;
  color: white;
  border-radius: 1%;
  font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.videoCard:hover {
  box-shadow: 0 10px 18px 8px #173464;
  border-radius: 2%;
}

.videoCardImage {
  margin: auto;
  display: table;
  position: relative;
  text-align: center;
  border-radius: 2%;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.creatorIdent {
  display: flex;
  flex-direction: row;
  margin: 10px 25px 20px 25px;
}

video {
  height: 85vh;
  width: 95vw;
  object-fit: fill;
  margin: 7.5px 2.5vw 7.5vh 1.75vw;
  border-radius: 10px;
  box-shadow: 0 1px 1px 3px #173464;
}

video:hover {
  box-shadow: 0 0px 5px 5px #173464;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blueTextBlackBackground {
  color: #3b82f6;
  padding: 0.5rem;
  background: black;
}

.RedeemTreasuryButton {
  margin-top: 50px;
  margin-bottom: 50px;
}

.jobs {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.creatorCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 1px 3px #3b82f6;
  transition: 0.3s;
  width: 250px;
  height: 280px;
  margin: 20px auto;
  background-color: #3b82f6;
  color: white;
  border-radius: 5%;
  font-size: 20px;
}

/* On mouse-over, add a deeper shadow */
.creatorCard:hover {
  box-shadow: 0 10px 18px 8px #173464;
}

.proposalCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 1px 3px #3b82f6;
  transition: 0.3s;
  width: 800px;
  height: auto;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 2%;
}

/* On mouse-over, add a deeper shadow */
.proposalCard:hover {
  box-shadow: 0 10px 18px 8px #173464;
}

.choiceButton {
  margin-bottom: 5px;
}

.choiceButton:hover {
  color: white;
}

/* Add some padding inside the card container */
.proposalDetails {
  padding: 2px 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Add some padding inside the card container */
.proposalVoting {
  padding: 2px 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Add some padding inside the card container */
.proposalLink {
  color: rgb(0, 140, 255);
  text-decoration: underline;
}

.choiceVote {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 4px 50px 6px 50px;
}

/* Add some padding inside the card container */
.nftDetails {
  padding: 2px 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.creatorCardImage {
  margin: auto;
  display: table;
}

.rightAlignCard {
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.creatorImageDiv {
  width: 50%;
  float: left;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.becomeCreatorButton {
  margin: 100px 0px 0px 50px;
}

/* border: 2px solid red; */

.description {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 20px;
  /* border: 2px solid red; */
  display: flex;
  font-size: larger;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
}

.creatorProfileDescription {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 60px;
  /* border: 2px solid red; */
  display: flex;
  font-size: larger;
  flex-direction: row;
  font-size: 20px;
}

.creatorTokenPrice {
  font-size: 15px;
  margin-left: 50px;
  width: 10vw;
  text-align: center;
}

.tokenDetails {
  width: 20%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}
.paperContainer {
  background-image: url("../assets/background4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.modelButton {
  display: flex;
  justify-content: space-around;
}

.tokenCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 1px 3px #3b82f6;
  transition: 0.3s;
  width: 250px;
  height: 110px;
  padding: 15px;
  margin: 20px auto;
  background-color: #3b82f6;
  border-radius: 20%;
  color: white;
}

/* On mouse-over, add a deeper shadow */
.tokenCard:hover {
  box-shadow: 0 10px 18px 8px #173464;
}
.tokenImage {
  width: 30%;
  float: left;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.nativeBalance {
  width: 40%;
  float: left;
  margin: 50px 50px 20px 50px;
  justify-content: space-between;
  text-align: center;
}

.usdBalance {
  width: 40%;
  float: left;
  margin: 50px 50px 20px 50px;
  justify-content: space-between;
  text-align: center;
}

.treasuryDiv {
  width: 90vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nftTabs {
  /* background-color:black; */
  display: flex;
  color: #3b82f6;
}

.nftCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 1px 3px #3b82f6;
  transition: 0.3s;
  width: 250px;
  height: 320px;
  margin: 20px auto;
  background-color: #3b82f6;
  color: white;
  border-radius: 1%;
}

/* On mouse-over, add a deeper shadow */
.nftCard:hover {
  box-shadow: 0 10px 18px 8px #173464;
  border-radius: 2%;
}

.nftCardImage {
  margin: auto;
  display: table;
  position: relative;
  text-align: center;
  border-radius: 2%;
}

.nftCardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftPageImage {
  width: 60%;
  float: left;
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 50px;
}

.nftPageDetails {
  width: 40%;
  float: left;
  padding: 50px 50px 20px 50px;
}

.nftPageProp {
  width: 60%;
  float: left;
  padding: 25px 25px 0px 50px;
  justify-content: space-between;
  text-align: center;
}

.nftPagePropGrid {
  padding: 25px 25px 0px 50px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.nftPageDescription {
  width: 40%;
  float: left;
  padding: 25px 50px 0px 50px;
}
.nftPage {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration-color: #3b82f6;
}

.bidButton:hover {
  color: #3b82f6;
}
.buyButton:hover {
  background-color: rgb(76, 175, 80);
}

.pageMinHeight {
  min-height: 90vh;
}
