<html>

  <head>
    <title>Onboarding Email - Crezalo.com</title>
  </head>

  <body>
    <div style="background-color: #f2f2f2; padding: 20px;">
      <h2 style="color: #333333;">Welcome to Crezalo!</h2>
      <img
        src="https://info.crezalo.com/assets/images/Crezalo-onlybird-transparent.png"
        alt=""
      />
      <p>Dear {{name}},</p>
      <p>We are thrilled to have you onboard our Creator Monetization Platform.
      </p>
      <p>Your one time password to login is {{otp}}!</p>
      <a
        href="https://info.crezalo.com/"
        style="background-color: #4cafac; color: white; padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block;"
        target="_blank"
      >Know More</a>
      <p>Best,</p>
      <p>The Crezalo Team</p>
    </div>
  </body>

</html>